<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息录入</title>
    <link rel="stylesheet" type="text/css" href="/static/iview.css"/>
    <script type="text/javascript" src="/static/vue.min.js"></script>
    <script type="text/javascript" src="/static/iview.min.js"></script>
    <script type="text/javascript" src="/static/vue-router.js"></script>
    <script type="text/javascript" src="/static/axios.min.js"></script>
    <script type="text/javascript" src="/static/request.js"></script>
</head>
<body>
<div id="app" style="display: flex; justify-content: center;">
    <i-form ref="familyAddForm" :model="familyAddForm" :rules="familyAddRule" :label-width="60"
            style="width: 300px; margin: 50px;">
        <form-item><h1 style="text-align: center">{{ title }}</h1></form-item>
        <form-item label="名字" prop="name">
            <i-input v-model="familyAddForm.name" placeholder="请输入名字" width="300px"></i-input>
        </form-item>
        <form-item label="性别" prop="gender">
            <i-select v-model="familyAddForm.gender" placeholder="请输入性别" width="300px">
                <i-option v-for="item in initData.genders"
                          :value="item.key" :key="item.key">{{ item.value }}
                </i-option>
            </i-select>
        </form-item>
        <form-item label="辈分" prop="seniority">
            <input-number v-model="familyAddForm.seniority"
                          v-on:on-change="relationPerson" :editable="false" :min="1" width="300px">
            </input-number>
        </form-item>
        <form-item label="关联" prop="relationId">
            <i-select v-model="familyAddForm.relationId" placeholder="请输入关联人名字" width="300px">
                <i-option v-for="item in initData.relationFamily"
                          :value="item.key" :key="item.key">{{ item.value }}
                </i-option>
            </i-select>
        </form-item>
        <form-item label="关系" prop="relation">
            <i-select v-model="familyAddForm.relation" placeholder="请输入与关联人关系" width="300px">
                <i-option v-for="item in initData.relations"
                          :value="item.key" :key="item.key">{{ item.value }}
                </i-option>
            </i-select>
        </form-item>
        <form-item style="text-align: center">
            <i-button type="primary" v-on:click="submit">添加</i-button>
            <i-button type="warning" v-on:click="reset" style="margin-left: 50px">重置</i-button>
        </form-item>
    </i-form>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            title: '信息录入',
            initData: {
                genders: [],
                relations: [],
                relationFamily: []
            },
            familyAddForm: {
                name: null,
                gender: null,
                relation: null,
                relationId: null,
                seniority: 1
            },
            familyAddRule: {
                name: [
                    {
                        required: true,
                        message: '名字不能为空呦!',
                        trigger: 'blur'
                    }
                ],
                gender: [
                    {
                        required: true,
                        message: '性别也不能为空!',
                        trigger: 'change'
                    }
                ],
                relation: [
                    {
                        required: true,
                        message: '关系也不能为空!',
                        trigger: 'change'
                    }
                ],
                seniority: [
                    {
                        required: true,
                        type: 'number',
                        message: '辈分也不能为空!',
                        trigger: 'blur'
                    }
                ],
                relationId: [
                    {
                        required: true,
                        type: 'number',
                        message: '关联人名字不能为空!',
                        trigger: 'blur'
                    }
                ],
            }
        },
        methods: {
            submit() {
                this.$refs.familyAddForm.validate((valid) => {
                    if (valid) {
                        console.info(JSON.stringify("commit data " + JSON.stringify(this.familyAddForm)));
                        this.$Message.success('添加成功!~~~');
                    } else {
                        this.$Message.error('请先确认输入信息格式~~~');
                    }
                });
            },
            reset() {
                this.$refs.familyAddForm.resetFields();
            },
            relationPerson(seniority) {
                this.familyAddForm.relationId = null;
                let allGender = get({url: '/wang/findBySeniority/' + seniority});
                allGender.then(data => {
                    this.initData.relationFamily = data;
                });
            }
        },
        beforeMount: function () {
            let allGender = get({url: '/front/allGender'});
            allGender.then(data => {
                this.initData.genders = data;
            });
            let allRelation = get({url: '/front/allRelation'});
            allRelation.then(data => {
                this.initData.relations = data;
            });
        }
    });
</script>
</body>
</html>